{% set section = 'profile' %}
{% extends "admin/layout.html" %}
{% block content %}

<h1>Admin - Profiles</h1>

<p>
<a href="/admin/profiles/add">[ Add New ]</a>
</p>

<table border="1">

<tr>
	<th>Cert ID</th>
	<th>Identifier</th>
	<th>UUID</th>
	<th colspan="1">
</tr>

{% for profile in profiles %}

<tr>
	<td>{{ profile.id }}</td>
	<td>{{ profile.identifier }}</td>
	<td>{{ profile.uuid }}</td>
	<td style="white-space:nowrap;">
		<a href="/admin/profiles/edit/{{ profile.id }}">[ Edit ]</a>
		<a href="/admin/profiles/delete/{{ profile.id }}">[ Delete ]</a>
	</td>
</tr>

{% endfor %}


</table>

{% endblock %}
